h1 {
    font-size: 22pt;
    margin-left: 5rem;
    margin-top: 5rem;
}

h2 {
    font-size: 18pt;
    margin-left: 5rem;
}

ul {
    font-size: 16pt;
    list-style: none;
    margin-left: 4rem;
    margin-top: 2rem;
}

a:link { 
    text-decoration: none; 
}
a:visited { 
    text-decoration: none; 
    color: black;
}
a:hover { 
    text-decoration: none; 
}
a:active { 
    text-decoration: none; 
}


body {
    background: rgb(228, 228, 228);
}