.page {
    display: flex;
    background: rgb(228, 228, 228);
    width: 100vw;
    height: 100vh;
    margin: auto;
}

.square {
    display: flex;
    position: relative;
    background: rgb(255, 255, 255);
    width: 71.428571vw;
    height: 71.428571vh;
    margin: auto;
}

.middle {
    display: flex;
    background: rgb(255, 255, 255);
    width: 42.857143vw;
    height: 42.857143vh;
    margin: auto;
}

.Lineleft {
    display: flex;
    background: #000;
    width: 2.5vw;
    height: 42.857143vh;
    margin: auto;
    margin-left: 0;
}

.Line {
    display: flex;
    background: #000;
    width: 2.5vw;
    height: 42.857143vh;
    margin: auto;

}

.Lineright {
    display: flex;
    background: #000;
    width: 2.5vw;
    height: 42.857143vh;
    margin: auto;
    margin-right: 0;

}

.white {
    display: flex;
    width: 42.857143vw;
    height: 42.857143vh;
    margin: auto;
    position: absolute;
    margin-left: 14.285714vw;
    margin-top: 14.285714vh;

    clip-path: inset(14.285714vh 14.285714vw 14.285714vh 14.285714vw);
}

.whiteline {
    display: flex;
    background: #000;
    height: 42.857143vh;
    margin: 0px 1.21vw 0px 1.21vw;
    width: 1.25vw;
    background: rgb(255, 255, 255);

    rotate: 150deg;
}

#lineleftwhite {
    margin-left: 2.5vw;
}




/*
.img1 {
    display: flex;
    margin: auto;
    width: 71.428571vw;
    height: 71.428571vh;
    border: 1px solid black;
    object-fit: fill;
    margin-bottom: 5vw;
}
*/

body {
    background: rgb(228, 228, 228);
    margin: auto;
}





